@using System.Globalization
@inject IJSRuntime JS
@inject NavigationManager Navigation

<style>
    .selectpicker {
        font-weight: bold !important;
        color: #fff !important;
        background: #708090!important;
    }
</style>
    <label>

    <select @bind="Culture" class="selectpicker">
            @foreach (var culture in supportedCultures)
            {
                <option value="@culture">@culture.DisplayName</option>
            }
        </select>
    </label>


@code
{
    private CultureInfo[] supportedCultures = new[]
    {
        new CultureInfo("pl-PL"),
        new CultureInfo("en-US"),
    };

    private CultureInfo Culture
    {
        get => CultureInfo.CurrentCulture;
        set
        {
            if (CultureInfo.CurrentCulture != value)
            {
                var js = (IJSInProcessRuntime)JS;
                js.InvokeVoid("blazorCulture.set", value.Name);
                Navigation.NavigateTo(Navigation.Uri, forceLoad: true);
            }
        }
    }
}